/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  font: 100% "Gotham-Bold";
}
body {
  font-size:1.25em;
  background-color: #111 ;
}
h1 {
  color:white;
  font: 100% "BebasNeue";
  text-transform: uppercase;
  
}
h2 {
  color: white;
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: 100;
  
}

h3 {
  color: white;
  
}
p {
  
}
ul {
  
}
li {
  
} 
a {
  
}
a:link {
  
}
a:visited {
  
}
a:hover, a:focus {
  
}
a:active {
  
}
button {
  
}


/* Section styling */
header {
  
}
  header h1 {

  }

  header nav ul {
    display: grid;
    grid-template-columns: 10px 50px 50px 50px 0px;
    margin: 0px;
    padding-inline-start: 0px;
    /* border: 2px solid red;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.3rem;

  }


  header nav ul li {
    list-style-type: none;
  }


  /* Menu Item 1 */
  
  header nav ul li:nth-of-type(1) a {
    background-image: url('/menu.svg');
    background-size: 100% 100%;
    height: 25px;
    width: 25px;
    display: block;
    margin-left: 0.5rem;
  }

  header nav ul li:nth-of-type(1) a span{
    display: none;
  }

   /* Menu Item 2 */

  header nav ul li:nth-of-type(2) a {
    margin-right: 3rem;

  }

  header nav ul li:nth-of-type(2) a span{
    display: none;
 
  }

     /* Menu Item 3*/


   header nav ul li:nth-of-type(3) a {
    background-image: url('/search1.svg');
    fill: white;
    width: 23px;
    height: 23px;
    display: block;
  }

  header nav ul li:nth-of-type(3) a span{
    display: none;
 
  }

   /* Menu Item 4*/

  header nav ul li:nth-of-type(4) a {
    background-image: url('/checkbox.svg');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: block;
  }

  header nav ul li:nth-of-type(4) a span{
    display: none;
 
  }

  /* Menu Item 5*/


  header nav ul li:nth-of-type(5) a {
    background-image: url('/profile.svg');
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 1rem;
  }

  header nav ul li:nth-of-type(5) a span{
    display: none;
 
  }

main article {
  width: 375px;
  height: 280px;
  margin-left: -10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: lightblue;
}

main article img{
  width: 130%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

main section {

}

main section article{
  width: 110px;
  height: 165px;
  margin-left: -10px;
  border-radius: 2px;
  overflow: hidden;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
 
  display: flex;
  flex-direction: row;
  align-content: flex-start;

}

main section article img{
  width: 500%;
  height: 500%;
  justify-content: center;
  align-items: center;
}

  main button {

  }
section {
  
}
  section header {

  }
  section h2 {

  }
article {

}


  article a {
    display: none;

  }
  article h3 {
    display: none;

  }
  article footer {
  
  }

aside {
  
}

footer {
  
}

/* Component styling */
section#some-ultra-cool-component {
  
}


/* Breakpoints */
@media all and (min-width: 30em) {
  
}

@media all and (min-width: 60em) {
  
}

@media all and (min-width: 90em) {
  
}